node red flows.json
[{"id":"5a10f97d.69d748","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eba26c74.4f24c","type":"ibmiot in","z":"5a10f97d.69d748","authentication":"apiKey","apiKey":"2e25d487.6dd2ac","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"7777","applicationId":"","deviceType":"project","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":140,"wires":[["51001484.a5187c","bcec2736.6b0a38","5e63d4c7.11b44c","6fd0a71b.4e7ac8"]]},{"id":"51001484.a5187c","type":"debug","z":"5a10f97d.69d748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":140,"wires":[]},{"id":"bcec2736.6b0a38","type":"function","z":"5a10f97d.69d748","name":"filled slots","func":"msg.payload=msg.payload.d.filledslots\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["51001484.a5187c","57a5e6a9.161898"]]},{"id":"5e63d4c7.11b44c","type":"function","z":"5a10f97d.69d748","name":"empty slots","func":"msg.payload=msg.payload.d.emptyslots\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["51001484.a5187c","8de02dda.da407"]]},{"id":"6fd0a71b.4e7ac8","type":"function","z":"5a10f97d.69d748","name":"car","func":"msg.payload=msg.payload.d.car\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["51001484.a5187c","d074d93d.60d248"]]},{"id":"57a5e6a9.161898","type":"ui_gauge","z":"5a10f97d.69d748","name":"filled slots","group":"3f4db279.e127ce","order":0,"width":0,"height":0,"gtype":"gage","title":"filled slots","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":220,"wires":[]},{"id":"8de02dda.da407","type":"ui_gauge","z":"5a10f97d.69d748","name":"empty slots","group":"3f4db279.e127ce","order":1,"width":0,"height":0,"gtype":"gage","title":"empty slots","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":320,"wires":[]},{"id":"d074d93d.60d248","type":"ui_gauge","z":"5a10f97d.69d748","name":"car","group":"3f4db279.e127ce","order":2,"width":0,"height":0,"gtype":"gage","title":"car","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":400,"wires":[]},{"id":"6afbee80.838f9","type":"http request","z":"5a10f97d.69d748","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://d613fe38-fcff-4aa6-af10-9bbad53806c9-bluemix.cloudant.com/doorbell/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":520,"wires":[["4d06488c.d6f348","f49e5354.083"]]},{"id":"9a68ce13.fb48b","type":"inject","z":"5a10f97d.69d748","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":520,"wires":[["6afbee80.838f9"]]},{"id":"4d06488c.d6f348","type":"debug","z":"5a10f97d.69d748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":520,"wires":[]},{"id":"f49e5354.083","type":"function","z":"5a10f97d.69d748","name":"image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["5b408023.6ba4d","4d06488c.d6f348"]]},{"id":"5b408023.6ba4d","type":"ui_template","z":"5a10f97d.69d748","group":"3f4db279.e127ce","name":"","order":6,"width":0,"height":0,"format":"<img ng-src={{msg.payload}} height=\"470\" width=\"280\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":640,"wires":[[]]},{"id":"512e95dc.46921c","type":"ui_button","z":"5a10f97d.69d748","name":"Gate Close","group":"3f4db279.e127ce","order":8,"width":0,"height":0,"passthru":false,"label":"Gate Close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"close\"}","payloadType":"json","topic":"","x":230,"y":760,"wires":[["69f9e005.f7c3f","a64814c5.7cad18"]]},{"id":"7c55bf75.23ad1","type":"ui_button","z":"5a10f97d.69d748","name":"Gate Open","group":"3f4db279.e127ce","order":7,"width":0,"height":0,"passthru":false,"label":"Gate Open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"open\"}","payloadType":"json","topic":"","x":220,"y":720,"wires":[["69f9e005.f7c3f","a64814c5.7cad18"]]},{"id":"69f9e005.f7c3f","type":"debug","z":"5a10f97d.69d748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":760,"wires":[]},{"id":"a64814c5.7cad18","type":"ibmiot out","z":"5a10f97d.69d748","authentication":"apiKey","apiKey":"2e25d487.6dd2ac","outputType":"cmd","deviceId":"7777","deviceType":"project","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":500,"y":860,"wires":[]},{"id":"70e45254.93e05c","type":"ui_button","z":"5a10f97d.69d748","name":"Entry","group":"3f4db279.e127ce","order":9,"width":0,"height":0,"passthru":false,"label":"Entry","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"entry\"}","payloadType":"json","topic":"","x":210,"y":820,"wires":[["69f9e005.f7c3f","a64814c5.7cad18"]]},{"id":"f2d4c2bc.0a276","type":"ui_button","z":"5a10f97d.69d748","name":"Exit","group":"3f4db279.e127ce","order":10,"width":0,"height":0,"passthru":false,"label":"Exit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"exit\"}","payloadType":"json","topic":"","x":210,"y":860,"wires":[["69f9e005.f7c3f","a64814c5.7cad18"]]},{"id":"e9ba71a.4851f9","type":"ui_button","z":"5a10f97d.69d748","name":"Filled slots","group":"3f4db279.e127ce","order":11,"width":0,"height":0,"passthru":false,"label":"Filled slots","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"filledslots\"}","payloadType":"json","topic":"","x":210,"y":920,"wires":[["69f9e005.f7c3f","a64814c5.7cad18"]]},{"id":"fc324600.fe88b8","type":"ui_button","z":"5a10f97d.69d748","name":"Empty slots","group":"3f4db279.e127ce","order":12,"width":0,"height":0,"passthru":false,"label":"Empty slots","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"emptyslots\"}","payloadType":"json","topic":"","x":210,"y":960,"wires":[["69f9e005.f7c3f","a64814c5.7cad18"]]},{"id":"2e25d487.6dd2ac","type":"ibmiot","z":"","name":"iotdevice","keepalive":"60","serverName":"yj35v1.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3f4db279.e127ce","type":"ui_group","z":"","name":"Smart Parking ","tab":"8777970b.ae6748","order":1,"disp":true,"width":"6","collapse":false},{"id":"8777970b.ae6748","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]